<div class="row">
	<div class="cover-photo-wrapper" >		
		<%= render "shared/user_photo", user: @user %>
		<div class="profile-actions">
			<%= render render_actions %>
		</div>
	</div>
</div>

<br/>
<div class="row">
	<div class="col-md-3 col-sm-12">
	<% @user.friends.each do |friend| %>
		<%= link_to user_path(friend) do %>
			<%= friend.name %>
			<% end %>
	<% end %>
	</div>
	<div class="col-md-9 col-sm-12">	
		    <%= render 'posts/form' if current_user.id == @user.id %>
	</div>
</div>

