<div class="row">
	<div class="col-md-3 col-sm 12">
		<%= link_to user_path(current_user) do %>
		  	  	<div class="profile-photo">
					<%= image_tag "user-icon-placeholder.png", class: "profile-img" %>
							<h4><%= current_user.name %></h4>
				</div>
		    <% end %>

	</div>
	
	<div class="col-md-6 col-sm 12">
		<div class="panel panel-default">
		  <div class="panel-heading">Create a post</div>
		  <div class="panel-body">
		    Write something...
		   </div>
		</div>
	</div>
	<div class="col-md-3 col-sm 12">
		
	<div class="panel panel-default">
	  <div class="panel-heading">Find New Friends</div>
	  <div class="panel-body">
	  	<ul class="list-group">
	  	<% current_user.not_friends.limit(5).each do |user| %>
	  		<li class="list-group-item">

		    <%= link_to user_path(user) do %>
		  	  	<div class="profile-photo">
					<%= image_tag "user-icon-placeholder.png", class: "profile-img" %>
					<span> <%= user.name %> </span>
				</div>
		    <% end %>
		    </li>
	    <% end %>
</ul>
	    
	    	  </div>

<div class="panel-footer"> <%= link_to "View All Users", findfriends_path %></div>
	</div>



	  
	</div>
</div>
