<div class="row">
	<div class="col-md-3 col-sm 12">
		<%= link_to user_path(current_user) do %>
				<%= render "shared/user_photo", user: current_user %>

		    <% end %>

	</div>
	
	<div class="col-md-6 col-sm 12">
	<%= render "shared/post_photo_form" %>



		<% current_user.feed.each do |post| %>
			<%= render "posts/post", post: post %>
		<% end %>


	</div>
	<div class="col-md-3 col-sm 12">
		
	<div class="panel panel-default">
	  <div class="panel-heading">Find New Friends</div>
	  <div class="panel-body">
	  	<ul class="list-group">
	  	<% current_user.not_friends.limit(5).each do |user| %>
	  		<li class="list-group-item">

		    <%= link_to user_path(user) do %>
				<%= render "shared/user_photo", user: user %>

		    <% end %>
		    </li>
	    <% end %>
</ul>
	    
	    	  </div>

<div class="panel-footer"> <%= link_to "View All Users", findfriends_path %></div>
	</div>



	  
	</div>
</div>
