<div class="row">
	<div class="col-md-3 col-sm 12">
		<%= link_to user_path(current_user) do %>
				<%= render "shared/user_photo", user: current_user %>

		    <% end %>

	</div>
	
	<div class="col-md-6 col-sm 12">
		 <%= render 'posts/form' %>



		<% current_user.feed.each do |post| %>
			<div class="panel panel-default">
			  <div class="panel-body">
				<%= render "shared/user_photo", user: post.author %>
			    <%= post.body %>
			    <div class="stats"><%= post.likes.count %> Likes <br/><%= post.comments.count %> Comments <br/>
			    		<%= form_tag(likes_path, method: :post) do %>
						    <%= hidden_field_tag :post_id, post.id %>
						    <%= submit_tag 'Like', class: 'btn' %>
						<% end %>
			    </div>
			    <ul class="list-group">
			    	<% post.comments.each do |comment| %>
			    		<li class="list-group-item"><%= comment.author.name if comment.author %><br/><%= comment.body %></li>
						
					<% end %>
				</ul>
			    
			  </div>
			    <div class="panel-footer">
			    <%= form_for :comment, url: comments_path do |f| %>
			    	<%= f.hidden_field :post_id, value: post.id %>
					<%= f.text_field :body %>
					<%= f.submit "Add Comment" %>
				<% end  %>
			    </div>
			</div>
		<% end %>


	</div>
	<div class="col-md-3 col-sm 12">
		
	<div class="panel panel-default">
	  <div class="panel-heading">Find New Friends</div>
	  <div class="panel-body">
	  	<ul class="list-group">
	  	<% current_user.not_friends.limit(5).each do |user| %>
	  		<li class="list-group-item">

		    <%= link_to user_path(user) do %>
				<%= render "shared/user_photo", user: user %>

		    <% end %>
		    </li>
	    <% end %>
</ul>
	    
	    	  </div>

<div class="panel-footer"> <%= link_to "View All Users", findfriends_path %></div>
	</div>



	  
	</div>
</div>
