<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= full_title(yield(:title)) %></title>
    <%= render "/layouts/rails_defaults" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>Odinbook <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% unless current_user %>
      <div class="nav navbar-nav navbar-right">
        <%= render "devise/sessions/form" %>      
      </div>
      <% else %>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user">
            <% unless @friend_requests.empty? %>
            <span class="badge"><%= @friend_requests.count %></span>
            <% end %>
          </span>
        </a>
       <% unless @friend_requests.empty? %>
          <ul class="dropdown-menu">
            <li>Friend Requests</li>
            <li role="separator" class="divider"></li>
            <% @friend_requests.each do |friend_request| %>
            <li><%= friend_request.requestor.name %><br/> 
              
            </li>
           <% end %>
          </ul>
        <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-cd"><span class="badge">42</span></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to " Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to " Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% end %>
     </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
    <%= render "layouts/flash_messages" %>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
