<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= full_title(yield(:title)) %></title>
    <%= render "/layouts/rails_defaults" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>Odinbook <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% unless current_user %>
      <div class="nav navbar-nav navbar-right">
        <%= render "devise/sessions/form" %>      
      </div>
      <% else %>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user">
            <% unless current_user.friend_requests.empty? %>
            <span class="badge"><%= current_user.friend_requests.count %></span>
            <% end %>
          </span>
        </a>
       <% unless current_user.friend_requests.empty? %>
          <ul class="dropdown-menu">
            <li>Friend Requests</li>
            <li role="separator" class="divider"></li>
            <% current_user.friend_requests.each do |friend_request| %>
            <li><%= friend_request.requestor.name %><br/> 
                <%= form_tag(friendships_path, method: :post) do %>
                  <%= hidden_field_tag :friend_id, friend_request.requestor.id %>
                  <%= submit_tag 'Accept', class: 'btn btn-outline-primary btn-sm' %>
              <% end %>
              <%= link_to "Delete", friend_request_path(friend_request), method: :delete %>
              
            </li>
           <% end %>
          </ul>
        <% else %>
         <ul class="dropdown-menu">
          <p>There are no friend requests</p>
         </ul>
        <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-cd"><span class="badge"><%= current_user.unread_notifications.size %></span></span></a>
                    <ul class="dropdown-menu">
          <% unless current_user.unread_notifications.empty? %>
            <% current_user.unread_notifications.each do |notification| %>
            <li><%= notification.body %> <br/>
                  <%= link_to 'Read', make_read_notification_path(notification), method: :put, class: "btn" %> 
            </li>
            <% end %>
          <% else %>
          <p>There are no new notifications</p>
          <% end %>
           </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View your profile", user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Edit your profile", edit_user_registration_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to " Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% end %>
     </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
    <%= render "layouts/flash_messages" %>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
